{% comment %}
<!-- PRICE TABLE -->
<section class="section has-image-bg has-no-tint has-fixed-bg" style="background-image: url(/assets/img/content/hero/blur-5.jpg);">
	<div class="container">
		<ul class="list-cards block-grid-xs-1 block-grid-md-3">
			<li>
				<div class="card card-feature text-center">
					<div class="card-header"><strong>1 Month</strong></div>
					<div class="card-block py-4">
						<h4 class="card-title display-2 price-font"><span class="dollar-sign">$</span>66</h4>
						<p class="card-text mb-3">(AUD $2.20 per day)</p>
						<a href="/register/" class="btn btn-primary btn-success">Register</a>
					</div>
				</div>
			</li>
			<li>
				<div class="card card-feature text-center">
					<div class="card-header"><strong>3 Months</strong></div>
					<div class="card-block py-4">
						<h4 class="card-title display-2 price-font"><span class="dollar-sign">$</span>176</h4>
						<p class="card-text mb-3">(AUD $1.96 per day)</p>
						<a href="/register/" class="btn btn-primary btn-success">Register</a>
					</div>
				</div>
			</li>
			<li>
				<div class="card card-feature text-center">
					<div class="card-header"><strong>6 Months</strong></div>
					<div class="card-block py-4">
						<h4 class="card-title display-2 price-font"><span class="dollar-sign">$</span>319</h4>
						<p class="card-text mb-3">(AUD $1.77 per day)</p>
						<a href="/register/" class="btn btn-primary btn-success">Register</a>
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>
{% endcomment %}