<!-- PRICE TABLE -->
<section class="section has-image-bg has-no-tint has-fixed-bg" style="background-image: url(/assets/img/content/hero/blur-5.jpg);">
	<div class="container">
		<ul class="list-cards block-grid-xs-1 block-grid-md-2 block-grid-lg-4">
			<li>
				<div class="card card-feature text-center">
					<div class="card-header"><strong>1 Month</strong></div>
					<div class="card-block py-4">
						<h4 class="card-title display-2 price-font">66</h4>
						<p class="card-text mb-4"></p>
						<a href="/register/" class="btn btn-primary btn-success">Register</a>
					</div>
				</div>
			</li>
			<li>
				<div class="card card-feature text-center">
					<div class="card-header"><strong>3 Months</strong></div>
					<div class="card-block py-4">
						<h4 class="card-title display-2 price-font">191</h4>
						<p class="card-text mb-4"></p>
						<a href="/register/" class="btn btn-primary btn-success">Register</a>
						<div class="card-corner"><span class="text">SAVE 7.5%</span></div>
					</div>
				</div>
			</li>
			<li>
				<div class="card card-feature text-center">
					<div class="card-header"><strong>6 Months</strong></div>
					<div class="card-block py-4">
						<h4 class="card-title display-2 price-font">352</h4>
						<p class="card-text mb-3"><span class="fa fa-fire mb-4"></span> Popular</p>

						<a href="/register/" class="btn btn-primary btn-success">Register</a>
						<div class="card-corner"><span class="text">SAVE 15%</span></div>
					</div>
				</div>
			</li>
			<li>
				<div class="card card-feature text-center">
					<div class="card-header"><strong>12 Months</strong></div>
					<div class="card-block py-4">
						<h4 class="card-title display-2 price-font">641</h4>
						<p class="card-text mb-4"></p>
						<a href="/register/" class="btn btn-primary btn-success">Register</a>
						<div class="card-corner"><span class="text">SAVE 22.5%</span></div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>