<!-- CTAS -->
<section class="section-dark">
    <div class="container">
        <ul class="block-grid-xs-1 block-grid-md-3 block-grid-list-fill">
            <li>
                <!-- GET QUOTES -->
                <a class="btn-tile is-slim is-brand-primary-tinted-1" href="/cargo-categories/cargo-item/">
                    <img width="100%" src="/assets/img/content/feature-get-quotes.jpg" alt="Get Quotes">
                    <span class="btn-tile-bg" style="background-image: url('/assets/img/content/feature-get-quotes.jpg')"></span>
                    <div class="btn-tile-overlay">
                        <h4 class="btn-tile-header mb-0"><i class="fa fa-clone"></i>&nbsp; Get Quotes</h4>
                    </div>
                </a>
            </li>
            <li>
                <!-- GET LOADS -->
                <a class="btn-tile is-slim is-brand-primary-tinted-3" href="/cargo-categories/cargo-item/">
                    <img width="100%" src="/assets/img/content/feature-get-loads.jpg" alt="Get Loads">
                    <span class="btn-tile-bg" style="background-image: url('/assets/img/content/feature-get-loads.jpg')"></span>
                    <div class="btn-tile-overlay">
                        <h4 class="btn-tile-header mb-0"><i class="fa fa-road"></i>&nbsp; Get Loads</h4>
                    </div>
                </a>
            </li>
            <li>
                <!-- FIND TRUCKS -->
                <a class="btn-tile is-slim is-brand-primary-tinted-2" href="/cargo-categories/cargo-item/">
                    <img width="100%" src="/assets/img/content/feature-find-trucks.jpg" alt="Find Trucks">
                    <span class="btn-tile-bg" style="background-image: url('/assets/img/content/feature-find-trucks.jpg')"></span>
                    <div class="btn-tile-overlay">
                        <h4 class="btn-tile-header mb-0"><i class="fa fa-truck"></i>&nbsp; Find Trucks</h4>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>