<!-- DISCOVER LOADSHIFT -->
<section class="section section-light">
    <div class="container container-condensed">
        <h2 class="text-center mb-5">Which Are You?</h2>
        <div class="row">
            <div class="col-md-6">

                <!-- FOR CARRIERS -->
                <a href="/how-it-works/carriers/">
                    <div class="card card-feature mb-4">
                        <img class="card-img-top" width="100%" src="/assets/img/content/carrier-i.jpg" alt="Carrier">
                        <div class="card-block text-center">
                            <h3 class="card-title mb-1">Carrier</h3>
                            <p class="mb-3 card-text lead">Get Loads.</p>
                            <p><span class="btn btn-primary btn-md">Learn more</span></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">

                <!-- FOR SHIPPERS -->
                <a href="/how-it-works/shippers/">
                    <div class="card card-feature mb-4">
                        <img class="card-img-top" width="100%" src="/assets/img/content/shipper-i.jpg" alt="Shipper">
                        <div class="card-block text-center">
                            <h3 class="card-title mb-1">Shipper</h3>
                            <p class="mb-3 card-text lead">Get quotes &amp; find trucks.</p>
                            <p><span class="btn btn-primary btn-md">Learn more</span></p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>