<!-- DISCOVER LOADSHIFT -->
<section class="section section-light">
    <div class="container" style="max-width: 900px;">
        <h2 class="text-center mb-5">How It Works</h2>
        <div class="row">
            <div class="col-md-6">

                <!-- FOR CARRIERS -->
                <a href="/how-it-works/carriers/">
                    <div class="card card-feature mb-4">
                        <img class="card-img-top" width="100%" src="/assets/img/content/carrier-i.jpg" alt="Carrier">
                        <div class="card-block text-center">
                            <h3 class="card-title mb-1">For Carriers</h3>
                            <p class="mb-3 card-text">Find business for your business.</p>
                            <p><span class="btn btn-primary btn-md">Click here</span></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">

                <!-- FOR SHIPPERS -->
                <a href="/how-it-works/shippers/">
                    <div class="card card-feature mb-4">
                        <img class="card-img-top" width="100%" src="/assets/img/content/shipper-i.jpg" alt="Shipper">
                        <div class="card-block text-center">
                            <h3 class="card-title mb-1">For Shippers</h3>
                            <p class="mb-3 card-text">Find transport fast anytime &amp; anywhere.</p>
                            <p><span class="btn btn-primary btn-md">Click here</span></p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>