<!-- FEATURE ICONS -->
<section class="section {{ include.classes }}">
    <div class="container">
        <ul class="list-feature-icons block-grid-xs-3 block-grid-md-5 text-center">
            <li><img src="/assets/img/content/icon-feature-1@2x.png" alt="Find Transport &amp; Loads Fast"></li>
            <li><img src="/assets/img/content/icon-feature-2@2x.png" alt="Australia Wide Coverage"></li>
            <li><img src="/assets/img/content/icon-feature-3@2x.png" alt="0% Commission"></li>
            <li><img src="/assets/img/content/icon-feature-4@2x.png" alt="Cutout the Middleman"></li>
            <li><img src="/assets/img/content/icon-feature-5@2x.png" alt="Easy to Use"></li>
        </ul>
    </div>
</section>