{% assign settings = site.data.settings %}
{% assign title = include.title | default: 'Get Quotes' %}

<!-- GET QUOTES -->
<div class="row">
    <div class="col-md-6">
        <h2>{{ title }}</h2>
        <p>Receive quotes for transport services by posting your request below.</p>
        <p>It's as easy as:</p>
        <p class="h4"><span class="number-bullet">1</span>&nbsp; Phoning <a href="tel:{{ settings.offices[0].phone }}">{{ settings.offices[0].phone }}</a></p>
        <p class="h4 ml-4"><b>OR</b></p>
        <p class="h4"><span class="number-bullet">2</span>&nbsp; Completing our form</p>
        <br>
        <p>Once your quote request has been posted, it's then added to the <a href="/get-loads/">Load Board</a> and alerted to the Loadshift community.</p>
        <p>Those carriers that may be of assistance will respond directly to you with quotation (varying price &amp; avaliability).</p>
        <br>
        <h3 class="text-center text-lg-left">You deal with whomever you choose.</h3>
    </div>
    <div class="col-md-6">
        <h3 class="mb-4 text-center">Try It Free</h3>
        {% include form_quote.html %}
    </div>
</div>