{% assign infographic = site.data.infographic %}

<!-- INFOGRAPHIC -->
<section class="section">
	<div class="container">
		<ul class="block-grid-xs-1 block-grid-md-2 block-grid-lg-4 list-infographic">
			{% for item in infographic %}
			    <li>
			    	<h5 class="list-infographic-header">
			    		<span class="number-bullet mr-3">{{ forloop.index }}</span>
			    		<span class="text">{{ item.title }}</span>
			    	</h5>
			    	<div class="list-infographic-icon h1 mr-3">
			    		<i class="{{ item.icon }}"></i>
			    	</div>
					<p class="mb-0">{{ item.body }}</p>
			    </li>
			{% endfor %}
		</ul>
	</div>
</section>