<!-- VIDEO SECTION -->
<section class="section section-dark inverse">
	<div class="container">
		<div class="row align-items-center text-center">
			<div class="col-md-5 col-lg-5">
				<h2>Loadshift</h2>
				<h3 class="subheader">The Place Where Transport Does Business!</h3>
				<div class="spacer mb-4 hidden-md-up"></div>
			</div>
			<div class="col-md-7 col-lg-7">
				<iframe class="video-embed"
				        width="100%"
				        frameborder="0"
				        src="https://www.youtube.com/embed/TkqLAkNK1vA?rel=0&amp;controls=0&amp;showinfo=1">
				</iframe>
			</div>
		</div>
	</div>
</section>