{% assign title = include.title %}

<!-- LIVE FEED -->
<section class="live-feed section-lighterX">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="live-feed-container">
					<p><strong>RECENT TRUCK</strong></p>

					<!-- POST -->
					<div class="live-feed-post">
						Drop deck with ramps
					</div>

					<!-- LOCATION -->
					<div class="live-feed-location">
						<i class="fa fa-map-marker mr-1"></i>
						Sydney NSW
					</div>

				</div>
			</div>
			<div class="col">
				<div class="live-feed-container">
					<p><strong>NEED A QUOTE?</strong></p>
					<div class="h2 mb-0 text-muted"><i class="fa fa-clone"></i></div>
				</div>
			</div>
			<div class="col">
				<div class="live-feed-container">
					<p><strong>RECENT LOAD</strong></p>

					<!-- POST -->
					<div class="live-feed-post">
						Assorted Caterpillar Parts (Estimate 10 Pallets and more)
					</div>

					<!-- LOCATION -->
					<div class="live-feed-location">
						<i class="fa fa-map-marker mr-1"></i>
						Wetherill Park NSW <b>to</b> Bromelton (and Brendale) NSW
					</div>

				</div>
			</div>
		</div>
	</div>
</section>