{% assign testimonials = site.data.testimonials | where: "featured", true %}

<!-- TESTIMONIALS -->
<div class="section section-light">
    <div class="container">

        <!-- A WORD FROM OUR USERS -->
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h2>What People Are Saying</h2>
            </div>
        </div>

        <!-- CARD SLIDER -->
        <a class="card-slider mb-2" href="/testimonials/">
            {% for item in testimonials limit: 20 %}
                <div class="testimonial-block">
                    <div class="row">
                        <div class="col-md-3 hidden-sm-down">
                            <img width="100%" class="img" src="{{ item.image | default: '/assets/img/ui/no-face.png' }}" alt="Customer Photo">
                        </div>
                        <div class="col-md-9">
                            <h4 class="mb-2">{{ item.title }}</h4>
                            <p>
                                <strong>{{ item.vehicle }}</strong>
                                {% if item.vehicle and item.destination %}
                                    &nbsp;<i class="fa fa-angle-right"></i>&nbsp;
                                {% endif %}
                                <strong>{{ item.destination }}</strong>
                            </p>
                            <!-- <h5 class="h6 mb-2 text-muted"><i class="fa fa-clock-o"></i> { { item.date }}</h5> -->
                            <div class="text">
                                <!-- TRUNCATE: 140 CHARS -->
                                {{ item.body | prepend: '"' | append: '"' | markdownify | truncate: 140 }}
                            </div>

                        </div>
                    </div>
                </div>
            {% endfor %}
        </a>

        <!-- SLIDER CONTROLS -->
        <div class="lv-hero-carousel-controls text-center" data-slider-controls>
            <div class="lv-hero-carousel-btns">
                <span class="lv-hero-carousel-prev-btn"><i class="fa fa-angle-left"></i></span>
                <span class="lv-hero-carousel-next-btn"><i class="fa fa-angle-right"></i></span>
            </div>
        </div>

    </div>
</div>