{% assign data_file = include.data %}
{% assign unique = "-" | append: include.unique %}
{% assign accordion_id = "accordion" | append: unique %}

<div id="{{ accordion_id }}" class="accordion" role="tablist" aria-multiselectable="true">
    {% for item in data_file %}

        {% assign id = item.title | append: unique | slugify %}

        <div class="card">
            <div class="card-header" role="tab" id="heading-{{forloop.index}}">
                <a data-toggle="collapse" data-parent="#{{ accordion_id }}" href="#{{ id }}" aria-expanded="true" aria-controls="{{ id }}">
                    <h3 class="h6 mb-0">
                        <span class="text">{{ item.title }}</span>
                        <i class="fa fa-angle-up"></i>
                    </h3>
                </a>
            </div>
            <div id="{{ id }}" class="collapse {% if forloop.first %} show {% endif %}" role="tabpanel" aria-labelledby="heading-{{forloop.index}}">
                <div class="card-block">
                    {{ item.body | markdownify }}
                </div>
            </div>
        </div>
    {% endfor %}
</div>