/*
    BREADCRUMBS.CSS

    - Last updated: 30.06.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//--------------------------------------------------------------------
// BREADCRUMB OVERRIDE
//--------------------------------------------------------------------

.breadcrumb {
	// padding: $spacer/2;
	margin: 0; // reset
	font-size: rem-calc(14);
	font-weight: 500;
	color: darken($gray-lighter, 40%);
	background: $gray-lightest;
	text-transform: capitalize;

	@include media-breakpoint-down(sm) {
	    padding-left: 0; // last min hack
	}
}

//-----------------------------------------------------------------
// DIVIDER OVERRIDE
//-----------------------------------------------------------------

.breadcrumb-item + .breadcrumb-item::before {
	content: "\f105";
	font-family: 'FontAwesome';
	color: darken($gray-lighter, 40%);
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================