/*
    BUTTONS.CSS

    - Last updated: 05.07.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// BTN SPONSOR
//-----------------------------------------------------------------

.btn-sponsor {
	display: block;
	transition: transform 300ms ease;

	&:hover {
		@include media-breakpoint-up(xl) {
			transform: scale(1.1);
		}
	}
}

//-----------------------------------------------------------------
// MENU BUTTON (MEMBERS LOGIN)
//-----------------------------------------------------------------

.global-menu-btn {
	display: inline-flex;
	align-items: center;
	padding: rem-calc(10 15);
	margin-left: 5px;
	border-radius: $border-radius;
	font-size: rem-calc(14);
	font-weight: 600;
	text-transform: uppercase;
	color: $brand-primary !important;
	background: rgba(white, 1);
	box-shadow: 0 3px 3px 2px rgba(black, 0.06);
	cursor: pointer;

	i {
		font-size: rem-calc(20);
		margin-left: rem-calc(10);
	}

	&:hover {
		background: darken(white, 10%);
	}
}

//=========================================
// CONTEXT
//=========================================

.lv-off-canvas .global-menu-btn {
	margin: rem-calc(0 15 15 0);
	text-align: center;
	padding-right: 0;
}

//-----------------------------------------------------------------
// BUTTONS
//-----------------------------------------------------------------

.btn-tile {
	display: block;
	position: relative;
	height: rem-calc(150);
	overflow: hidden;

	@include media-breakpoint-up(md) {
	    height: auto;
	}

	//=========================================
	//
	//=========================================

	&.is-slim {
		height: rem-calc(100);

		@include media-breakpoint-up(md) {
		    height: rem-calc(220);
		}
	}

	//=========================================
	//
	//=========================================

	.btn-tile-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-position: center center;
		background-size: cover;
		background-repeat: none;
		transition: transform 300ms ease;
	}

	.btn-tile-overlay {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: rem-calc(30);
		background: rgba(black, 0.5);
		transition: opacity 300ms ease, background-color 300ms ease;

		.btn-tile-header {
			color: white;
		}
	}

	//=========================================
	// TINTED (CTA Footer)
	//=========================================

	&.is-brand-primary-tinted-1 .btn-tile-overlay {
		background: lighten(rgba($brand-primary, 1), 2%);
		// background: linear-gradient(to bottom, rgba(#2a83cd,1) 20%,rgba(#1c5695,1) 100%);
		// opacity: 0.9;
	}

	&.is-brand-primary-tinted-2 .btn-tile-overlay {
		background: lighten(rgba($brand-primary, 1), 4%);
		// background: linear-gradient(to bottom, rgba(#2a83cd,1) 20%,rgba(#1c5695,1) 100%);
		// opacity: 0.9;
	}

	&.is-brand-primary-tinted-3 .btn-tile-overlay {
		background: lighten(rgba($brand-primary, 1), 8%);
		// background: linear-gradient(to bottom, rgba(#2a83cd,1) 20%,rgba(#1c5695,1) 100%);
		// opacity: 0.9;
	}

	&.is-brand-primary-tinted-1,
	&.is-brand-primary-tinted-2,
	&.is-brand-primary-tinted-3 {
		// height: rem-calc(200);

		&:hover {
			@include media-breakpoint-up(xl) {
			    .btn-tile-overlay {
			    	background: lighten(rgba($brand-primary, 0.92), 1%);
			    }
			}
		}
	}

	&:hover {
		@include media-breakpoint-up(xl) {
		    .btn-tile-bg {
		    	transform: scale(1.05);
		    }
		    .btn-tile-overlay {
		    	// opacity: 1;
		    	background: rgba(black, 0.1);
		    }
		}
	}
}

//=========================================
//
//=========================================