/*
    CARD-SLIDER.CSS

    - Last updated: 21.07.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// CARD SLIDER (TESTIMONIALS)
//-----------------------------------------------------------------

.card-slider {
	.slick-slide {
	    width: rem-calc(500);
	    height: rem-calc(250);
	    opacity: 0.2;
	    transition: opacity 400ms ease, box-shadow 200ms ease;
	}

	.slick-center {
	    opacity: 1;
	    margin-bottom: rem-calc(15);

	    &.testimonial-block:hover {
	    	@include media-breakpoint-up(xl) {
				box-shadow: 0 3px 10px 5px rgba(0, 0, 0, 0.12);
	    	}
	    }
	}
}

//=========================================
// TESTIMONIAL BLOCK
//=========================================

.testimonial-block {
	display: inline-block; // help css masonry top glitch
	// min-width: 95%; // IE fix
	padding: $spacer*2;
	margin: rem-calc(10); // looks best on mobile
	background: white;
	color: $body-color;
    box-shadow: 0 3px 8px 3px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    .img {
        border-radius: 100%;
    }

    .text {
    	position: relative;

    	&:after {
    		display: none;
	    	content: "❜❜";
	    	position: absolute;
	    	top: 100%;
	    	right: 0;
	    	line-height: 1;
	    	font-family: "Times New Roman";
	    	font-size: rem-calc(80);
	    	opacity: 0.10;
	    }
    }

    .text-muted {
    	font-weight: normal;
    }
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================