/*
    LISTS.CSS

    - Last updated: 03.07.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// LISTS
//-----------------------------------------------------------------

.block-list {
	list-style: none;
	padding: 0;

	li {
		border-bottom: 1px solid #ccc;
		padding: rem-calc(30 0);
	}

	// Prevent gaps eg. News
	li:first-child {
		padding-top: 0;
	}
}

//-----------------------------------------------------------------
// BLOCK LIST
//-----------------------------------------------------------------

.block-grid-list {
	li {
		padding-bottom: 0;
		padding-top: 0;
	}
}

//-----------------------------------------------------------------
// BLOCK LIST FILL (NO GAPS)
//-----------------------------------------------------------------

.block-grid-list-fill {
	margin: 0;

	li {
		padding: 0;
	}
}

//-----------------------------------------------------------------
// USED ON CARGO CATS
//-----------------------------------------------------------------

.block-grid-condensed {
    margin: -10px;

    li {
        padding: 10px;
    }
}

//-----------------------------------------------------------------
// MASONRY
//-----------------------------------------------------------------

.list-masonry {
    column-gap: 10px;
    padding: 0;
    margin: 0;
    list-style: none;

    .testimonial-block {
    	@include media-breakpoint-down(sm) {
    	    display: block;
    	    margin: 0;
    	}
    }

    @include media-breakpoint-up(md) {
        column-count: 2;
    }

    @include media-breakpoint-up(xl) {
        column-count: 3;
    }
}

//-----------------------------------------------------------------
// FEATURE ICONS (USED BOTTOM OF HERO)
//-----------------------------------------------------------------

.list-feature-icons img {
	width: 100%;

	@include media-breakpoint-up(md) {
	    width: rem-calc(120);
	}
}

//-----------------------------------------------------------------
// SPONSORS
//-----------------------------------------------------------------

.list-sponsors {
	@include media-breakpoint-only(md) {
	    // max-width: rem-calc(500);
	    padding: rem-calc(0 130);
	}
}

//-----------------------------------------------------------------
// LIST INFOGRAPHIC
//-----------------------------------------------------------------

.list-infographic {

	// li:nth-child(1) .list-infographic-icon i { background: lighten($brand-quaternary, 26%); }

	li:last-child .list-infographic-icon:after {
		display: none;
	}

	.list-infographic-header {
		@include media-breakpoint-up(md) {
		    min-height: rem-calc(60);
		}
	}

	.list-infographic-icon {
		display: flex;
		justify-content: center;
		position: relative;

		&:after {
			@include media-breakpoint-up(md) {
			    content: '\f105';
			    font-family: 'FontAwesome';
			    position: absolute;
			    top: 50%;
			    right: rem-calc(-25);
			    line-height: 0;
			    color: $gray-light;
			}
		}

		i {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: rem-calc(100);
			height: rem-calc(100);
			border-radius: 100%;
			border: 3px solid lighten($brand-quaternary, 15%);
			// background-color: lighten($brand-quaternary, 35%);
			color: lighten($brand-quaternary, 15%);
		}
	}
}

//-----------------------------------------------------------------
// USED IN CARGO ITEMS
//-----------------------------------------------------------------

.list-trio-strike-through {
	text-align: center;
	list-style: none;
	padding: 0; // [RESET]
	margin: 0; // [RESET]

	@include media-breakpoint-up(sm) {
	    display: flex;
	    justify-content: space-around;
	}

	&:after {
		@include media-breakpoint-up(md) {
		    content: "";
		    position: absolute;
		    top: 20px;
		    left: 18%;
		    width: 60%;
		    height: 1px;
		    border-top: 1px solid lighten($gray, 20%);
		}
	}

	li > span {
		@include media-breakpoint-up(md) {
		    position: relative;
			padding: rem-calc(0 10);
			background: white;
			z-index: 1;
		}
	}
}

//=========================================
// CONTEXT
//=========================================

.section-dark .list-trio-strike-through {
	&:after {
		@include media-breakpoint-up(md) {
		    border-top: 1px solid  rgba(white, 0.3);
		}
	}

    li > span {
		padding: rem-calc(0 20);
	    background: $brand-primary;
	    color: white;

    	@include media-breakpoint-up(lg) {
    	    padding: rem-calc(0 40);
    	}
    }
}

//=========================================
//
//=========================================