/*
    TYPE.CSS

    - Last updated: 05.07.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// SCALE
//-----------------------------------------------------------------

html {
  @include media-breakpoint-up(xs) { font-size: rem-calc(14); }
  @include media-breakpoint-up(lg) { font-size: rem-calc(16); }
}

//-----------------------------------------------------------------
// ANCHORS
//-----------------------------------------------------------------

a {
	transition: color 300ms ease, background 300ms ease;
}

//-----------------------------------------------------------------
// HEADINGS
//-----------------------------------------------------------------

.subheader {
	font-weight: 400;
}

.lead {
	font-weight: 400;
}

//-----------------------------------------------------------------
// Price Font - seen in membership
//-----------------------------------------------------------------

.price-font {
	// font-family: 'Open Sans';

	&:before {
		content: "$";
		font-size: rem-calc(40);
		font-weight: 400;
	}
}

//-----------------------------------------------------------------
// Blockquote
//-----------------------------------------------------------------

.blockquote {
	border-left: none;
	margin-top: rem-calc(30);
	font-size: rem-calc(25);
	font-style: italic;

	p:before,
	p:after {
		content: "“";
		position: relative;
		display: inline-block;
		font-size: 150px;
		font-family: "Times New Roman";
		line-height: 25px;
		color: #003c71;
		opacity: 0.5;
		vertical-align: bottom;

	}

	p:before {
		top: 19px;
		left: -15px;
	}

	p:after {
		content: "”";
		top: 40px;
		right: 15px;
	}
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================