---
layout: base__page_sidebar
---

{% assign news = site.data.lorem_ipsum %}
{% assign main_image = page.main_image | default: "http://placehold.it/350x260" %}

<article class="mb-3">
    <h1 class="h2 mb-3">{{ page.title }}</h1>
    <p><date>12 AUGUST 2015</date></p>
    <br>
    <p class="img-right"><img width="100%" src="{{ main_image }}" alt="Main Image"></p>
    {{ content }}
</article>

{% contentfor sidebar %}
    <h3 class="mb-4">Previous News</h3>
    <div class="mr-md-3">
        {% for item in news limit: 3 %}
            <a href="/news/news-item/">
                <h4 class="h6 mb-0 text-capitalize">{{ item.title }}</h4>
                <small><date class="text-uppercase text-muted">{{ item.date }}</date></small>
            </a>
            <hr>
        {% endfor %}
    </div>
{% endcontentfor %}

{% contentfor content_additional %}
    {% include sections/sponsors.html %}
{% endcontentfor %}