---
layout: base__page_sidebar
---

{% assign services = site.data.services | sort: "title" %}

{% contentfor hero_caption %}
	<!-- HERO CAPTION -->
	<div class="lv-hero-item-caption animated fadeInLeft">
	    <h1>Get Quotes <br>&amp; Find Trucks</h1>
	    <p>Find Australia Wide Heavy Haulage transport fast.<br> Get quotes by posting a request or find trucks on the location map.</p>
	    <a href="/text-page/" class="btn btn-primary">Get Quotes</a>
	</div>
{% endcontentfor %}

{% contentfor hero_addition %}
	<!-- HERO ADDITION -->
	<div class="hero-addition">
	    <div class="container">
	        <ul class="block-grid-md-2 block-grid-lg-4">
	            <li>
	            	<div class="h5 mb-0 d-flex align-items-center">
	            		<span class="number-bullet mr-3">1</span>
	            		<span class="text">Post a Request</span>
	            	</div>
	            </li>
	            <li>
	            	<div class="h5 mb-0 d-flex align-items-center">
	            		<div class="number-bullet mr-3">2</div>
	            		<span class="text">Request Communicated</span>
	            	</div>
	            </li>
	            <li>
		            <div class="h5 mb-0 d-flex align-items-center">
		            	<span class="number-bullet mr-3">3</span>
		            	<span class="text">Receive Quotes</span>
		            </div>
	            </li>
	            <li>
		            <div class="h5 mb-0 d-flex align-items-center">
		            	<span class="number-bullet mr-3">4</span>
		            	<span class="text">Choose Your Carrier</span>
		            </div>
	            </li>
	        </ul>
	    </div>
	</div>
{% endcontentfor %}

{% include sections/get_quotes.html title="Shippers" %}

{% contentfor content_additional %}
	<!-- FIND TRUCKS -->
	<section class="section section-light">
		<div class="container container-condensed">
			<div class="row align-items-center text-center">
				<div class="col-md-6 push-md-6">
					<h2>Find Trucks</h2>
					<p class="lead">Click on a map listing to obtain the current or future location of a carrier.
					Use the nominated contact details to deal directly.</p>
				</div>
				<div class="col-md-6 pr-lg-5 pull-md-6">
					<p><img width="100%" src="/assets/img/content/truck-register@2x.jpg" alt="Truck Availability Register"></p>
					<div class="spacer mb-4 hidden-lg-up"></div>
				</div>
			</div>
		</div>
	</section>

	{% include sections/intro_video.html %}

	<!-- SIMPLE - TRANSPARENT - JOB LEADS -->
	<section class="section">
		<div class="container">

			<!-- CONDENSE -->
			<div class="container">
				<ul class="list-trio-strike-through">
					<li><span class="h2">SIMPLE</span></li>
					<li><span class="h2">QUICK</span></li>
					<li><span class="h2">FREE QUOTES</span></li>
				</ul>
			</div>

			<div class="spacer mb-5"></div>

			<!-- FINE PRINT -->
			<small>
				<b>NOTE:</b> loadshift.com.au is an online business service that specialises in the heavy load transport industry. It simply delivers your quotation request into transport businesses. Loadshift <u>DOES NOT</u> participate in any quotation, <u>NOR</u> does it receive commissions. You deal directly with the transport carriers at all times.
				<br>
				<br>
				Carriers subscribe to this marketplace (on a monthly basis), to receive your quote request as a job lead into their businesses.
			</small>
		</div>
	</section>
{% endcontentfor %}