---
layout: base__page_sidebar
---

<div class="wysiwyg">
	{{ content }}
</div>

<p class="lead">Best of all... <strong>ZERO Commission!</strong></p>
<div class="spacer mb-4"></div>

<div class="row">
	<div class="col-md-6">
		<h3>Find Trucks – Availability Register</h3>
		<p>This is the venue to “post” (advertise) your current or future truck/trailer location and availability. Let Shippers know in advance, the next destination that you will be available to load out of.</p>
		<p><img width="100%" src="/assets/img/content/truck-register@2x.jpg" alt="Truck Availability Register"></p>
		<div class="spacer mb-4 hidden-lg-up"></div>
	</div>
	<div class="col-md-6">
		<h3>Get Loads - Load Board</h3>
		<p>Receive and/or access transport job leads.
		Requests for transport services that are logged in Loadshift.com.au are automatically alerted to Loadshift subscribers by email &amp;/or sms.</p>
		<p>Transport Request sms alert sample:</p>
		<p><img class="img-fluid" src="/assets/img/content/sms-alert-reversed.svg" alt="SMS Alert Example"></p>
		<p>These quote requests may be viewed by logging into Loadshift and clicking on <a href="/get-loads/">Get Loads</a> (Load Board).</p>
	</div>
</div>

{% contentfor content_additional %}
	{% include sections/discover_loadshift_how_it_works.html %}

	<!-- REGISTER -->
	<section class="section">
		<div class="container">
			<p class="text-center mb-4"><a class="btn btn-success btn-lg" href="/register/">REGISTER NOW</a></p>
			<small><b>NOTE:</b> Loadshift.com.au is an online business service that specializes in the heavy road transport industry. It simply delivers prospective business into transport businesses. Loadshift DOES NOT participate in any quotation, NOR does it receive commissions. You deal directly with the customer at all times.</small>
		</div>
	</section>
{% endcontentfor %}