---
layout: base__page
---

{% assign testimonials = site.data.testimonials %}

<h2 class="text-center mb-0">A Word from Our Users</h2>

{% contentfor content_additional %}
	<section class="section section-light">
		<div class="container">
			<ul class="list-masonry">
				<li>
					{% for item in testimonials %}
					    <div class="testimonial-block mb-3">
					        <div class="row mb-2">
					            <div class="col-md-3 hidden-sm-down">
					                <img width="100%" class="img" src="{{ item.image | default: '/assets/img/ui/no-face.png' }}" alt="Customer Photo">
					            </div>
					            <div class="col-md-9">
					                <h4 class="mb-2">{{ item.title }}</h4>
					                <h5 class="h6 mb-2 text-muted"><i class="fa fa-clock-o"></i> {{ item.date }}</h5>
					            </div>
					        </div>
					       	<div class="text">
					       	    {{ item.body | markdownify }}
					       	</div>
					       	<h5 class="h6 mb-0">{{ item.vehicle }} | {{ item.destination }}</h5>
					    </div>
					{% endfor %}
				</li>
			</ul>
		</div>
	</section>
{% endcontentfor %}